// Colors
$page-background: #2e3640;
$bottom-ring: #282F37;
$bottom-ring-deep: #3E4B5C;
$middle-ring: linear-gradient(315deg, #505B69 -13.06%, #353D47 114.17%);
$text-color: #778AA6;
$middle-ring-text: #B5C3D7;
$orange-text: #FF8B02;
$green-text: #38A651;
$orange-diagram: #F96C00;

// Fonts
$font-text: 'Poppins', sans-serif;
$font-value: 'Roboto', sans-serif;